@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
  height: 100%;
  font-weight: 600;
  font-family: 'KoPubDotumMedium';
  background-color: #f5f6f8;
}

#root {
  height: 100%;
}

.emojiBtn input[type="radio"] {
  display: none;
}

.emojiBtn input[type=radio]:checked + label > img {
  border-style: solid;
  border-color: #698476;
  border-width: 1px;
  border-radius: 5px;
} 