@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  font-weight: 600;
  font-family: 'ONE-Mobile-Title';
  background-color: #f5f6f8;
}

#root {
  height: 100%;
}

.emojiBtn input[type="radio"] {
  display: none;
}

.emojiBtn input[type=radio]:checked + label > img {
  border-style: solid;
  border-color: #A68B80;
  border-width: 2px;
  border-radius: 5px;
} 